
@{
    ViewBag.Title = "Education";
}



<div class="row resume-timeline">
    <div class="col-twelve resume-header">
        <h2>Education</h2>
    </div>
    <!-- /resume-header -->

    <div class="col-twelve">
        <div class="timeline-wrap">
            <!-- <div class="timeline-block">
              <div class="timeline-ico">
                <i class="fa fa-briefcase"></i>
              </div>

              <div class="timeline-header">
                <h3>Master Degree</h3>
                <p>July 2015 - Present</p>
              </div>

              <div class="timeline-content">
                <h4>University of Life</h4>
                <p>
                  Lorem ipsum Occaecat do esse ex et dolor culpa nisi ex in
                  magna consectetur nisi cupidatat laboris esse eiusmod deserunt
                  aute do quis velit esse sed Ut proident cupidatat nulla esse
                  cillum laborum occaecat nostrud sit dolor incididunt amet est
                  occaecat nisi.
                </p>
              </div>
            </div> -->
            <!-- /timeline-block -->

            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>

                </div>

                <div class="timeline-header">
                    <div>

                        <img src=" https://www.aiub.edu/Files/Templates/NewAIUB/assets/images/aiub-logo.svg" style="float: left; height: 50px; width: 50px " />
                        <h3>
                            Bachelor Degree
                        </h3>
                    </div>

                    <p>May 2018 - Present</p>

                </div>

                <div class="timeline-content">

                    <h4>
                        American International University - Bangladesh
                    </h4>

                    <p>
                        I am doing my Bachelor program on Computer Science &
                        Engineering here. I am focusing on Back-end programming.
                        Software Engineering is my major course. You can See my course
                        curriculam with result
                        <a href="https://github.com/HasanJahidul/JoyDev/raw/main/files/GradeReportByCurriculum(Jahidul%20Hasan).pdf"><u>here</u></a>
                    </p>
                </div>
            </div>
            <!-- /timeline-block -->

            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>
                </div>

                <div class="timeline-header">
                    <img src="https://raw.githubusercontent.com/HasanJahidul/JoyDev/main/images/daffodil_college_logo.jpg" style="float: left; height: 50px; width: 50px " />
                    <h3>Higher Secondary Certificate</h3>
                    <p>April 2015 - April 2017</p>
                </div>

                <div class="timeline-content">
                    <h4>Daffodil International College</h4>
                    <p>
                        The Higher Secondary Certificate (HSC/INTERMEDIATE) is a public examination in Bangladesh, India, Nepal and Pakistan. HSC is equivalent to GCE A Level in England and 3rd and 4th year of high Schools in the United States.
                        I have completed my HSC in science group.
                    </p>
                    
                </div>
            </div>
            <!-- /timeline-block -->
            <div class="timeline-block">
                <div class="timeline-ico">
                    <i class="fa fa-graduation-cap"></i>
                </div>

                <div class="timeline-header">
                    <img src="https://raw.githubusercontent.com/HasanJahidul/JoyDev/main/images/science_school_logo.jpg" style="float: left;height: 50px; width: 50px; padding-right: 0.5rem;" />
                    <h3>Secondary School Certificate</h3>
                    <p>January 2013 - March 2015</p>
                </div>

                <div class="timeline-content">
                    <h4>Govt. Science College Attached High School</h4>
                    <p>
                        The Secondary School Certificate, also called SSC or Matriculation examination is a public examination in India, Bangladesh and Pakistan conducted by educational boards for the successful completion of the secondary education exam in these countries. Students of 10th grade/class ten can appear in these. It is equivalent to GCSE in England and first two years of high schools in United States.
                    </p>
                    </p>
                </div>
            </div>
            <!-- /timeline-block -->
        </div>
        <!-- /timeline-wrap -->
    </div>
    <!-- /col-twelve -->
</div>
<!-- /resume-timeline -->
    </section>