
@{
    ViewBag.Title = "Portfolio";
}


<section id="intro">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">
            <div class="col-twelve">
                <h5>Hello, World.</h5>
                <h1>I'm Jahidul Hasan.</h1>

                <p class="intro-position">
                    <span>Software Engineer</span>
                    <span>Back-end Developer</span>
                    <span>Php Developer</span>
                </p>

                <a class="button stroke smoothscroll" href="~/Portfolio/Bio" title="">More About Me</a>
            </div>
        </div>
    </div>
    <ul class="intro-social">
        <li>
            <a href="https://github.com/HasanJahidul">
                <i class="fa fa-github-alt"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/jahidulhasanjay/">
                <i class="fa fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/JahidulHasanJay">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/joy5413/">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://hasanjahidul.github.io/JoyDev/"><i class="fa fa-dribbble"></i></a>
        </li>
        <li>
            <a href="skype:live:.cid.b85d05799a613317?chat"><i class="fa fa-skype"></i></a>
        </li>
        <li>
            <a href="https://www.instagram.com/k.ra.t.o.s/?hl=en">
                <i class="fa fa-instagram"></i>
            </a>
        </li>
        <li>
            <a href=mailto:jahidul0hasan@gmail.com">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
    </ul>
</section>
