
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<div class="intro-info">
    <img src="https://portal.aiub.edu/Common/User/GetUserImage?q=YDQu7rz18pB%2BdSjj4WjPvg%3D%3D" class="Profile Picture" />
</div>
</br</br></br></br></br></br></br>
<h3>
    Name: TANVIR AHMED</br>
    Email: tanvir.ahmed@aiub.edu</br>
    Ocupation: Faculty of American International University - Bangladesh</br>
</h3>

